#gform_submit_button_1 {
  background-color: $color1;
  color: white !important;
  padding: 10px 15px;
  border-radius: 30px;
  border: 0;
  transition: all 0.3s ease;
  &:hover {
    background-color: $color2;
  }
}
.gform_title {
  text-align: left;
  font-size: 80px;
  font-family: $font2;
}
.gform_validation_errors {
  display: none;
}
.gfield_validation_message {
  display: none;
}
#gform_wrapper_1 {
  padding: 0 100px;
}
#gform_1 {
  .gfield_description {
    font-weight: 700;
    color: $black;
  }
  .gfield_label {
    font-weight: 700;
    color: $black;
  }
  font-family: $font2;
  input,
  select,
  textarea {
    border: 1px solid #9dac78;
    font-family: $font2;
    border-radius: 29px;
    font-weight: 700;
    color: $black;
    padding-left: 15px;
  }
  input,
  select,
  textarea {
    &::placeholder {
      /* Standard syntax for modern browsers */
      font-family: $font2;
      font-weight: 700;
      color: $black;
    }
  }
}
#gform_1 {
  select {
    background-color: $color5;
    border: 1px solid $color5;
  }
}

.form_block {
  .form-text-field {
    padding: 80px;
    background-color: $color5;
    .form-text-field__content {
      p {
        font-weight: 700;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
    }
    .form-form-field {
      background-color: $white;
    }
  }
}
