// ----------------------- MAIN COLORS ----------------------- //

$black: #000;
$white: #fff;

$color1: #b50d43;
$color2: #ed8895;
$color3: #ffaa86;
$color4: #9cac77;
$color5: #ecf4cb;

$btn-color1: black;
$btn-color2: blue;

//these are set dynamic based on the contrast
$btn-text-light: #fff;
$btn-text-dark: #000;

$font1: "aptly", sans-serif;
$font2: "DM Sans", sans-serif;

$shadow1: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$header-height-mobile: 84px;

// ----------------------- SIZES ----------------------- //

$screen-xs-max: 576px;
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1199px;
$screen-xl-max: 1340px;
$screen-xxl-max: 1400px;

// ----------------------- BOOTSTRAP  ----------------------- //

$max-container-width: 1408px;
$gutter: 13.5px;

@media (min-width: 1500px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1600px !important;
  }
}
// ----------------------- Custom  ----------------------- //

.qwt {
  background-color: white;
}
.qdr {
  background-color: $color1;
  h2 {
    color: white !important;
  }
  p {
    color: white !important;
  }
}
.qlg {
  background-color: #b5cb95;
  h2 {
    color: white !important;
  }
  p {
    color: white !important;
  }
}

.qlr {
  background-color: #ed8895;
  h2 {
    color: white !important;
  }
  p {
    color: white !important;
  }
}
.qor {
  background-color: #fba48b;
  h2 {
    color: white !important;
  }
  p {
    color: white !important;
  }
}
.wpml-ls-flag {
  border-radius: 50%;
  overflow: hidden;
  width: 30px; /* adjust size */
  height: 30px; /* adjust size */
  object-fit: cover;
}
