.hero-slider {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-slider .slide-item {
  position: relative; // Use the same height as the container
  overflow: hidden;
}

.hero-slider .slide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
