.hero {
  &__container {
    height: 100vh;
    position: relative;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; // full width
    height: 100%;
    display: flex;
    align-items: center; // vertically center content
    @media screen and (max-width: 576px) {
      align-items: flex-end;
    }
  }

  &__title-container {
    max-width: 550px;
    margin-left: 125px; // distance from the very edge
    margin-top: 100px;
    @media screen and (max-width: 1024px) {
      margin-left: 75px;
      margin-top: 130px;
    }
    @media screen and (max-width: 576px) {
      margin-left: 10px;
      margin-bottom: 50px;
      max-width: 300px;
    }
    h1 {
      color: white;
      font-size: clamp(2rem, 8vw, 5.5rem);
    }
  }
}
