.quotes {
  padding: 50px 0px;
  &__content-container {
    justify-content: center;

    align-items: center;

    h2 {
      color: $color1;
      margin-bottom: 0px;
    }
    p {
      color: #ed8895;
      font-family: $font1;
    }
    .quote-source {
      display: flex;
      justify-content: center;
    }
  }
}
.wt {
  background-color: white;
}
.dr {
  background-color: $color1;
}
.lg {
  background-color: #b5cb95;
}
.lr {
  background-color: #ed8895;
}
.or {
  background-color: #fba48b;
}
