.ta-cards {
  padding: 60px 0;
  position: relative;

  .ta-cards__text-container {
    padding-bottom: 30px;
  }

  &__cards-container {
    display: flex;
    justify-content: space-evenly;
    .owl-stage {
      padding-top: 20px;
    }

    .ta-card {
      display: block;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-20px);
      }

      .ta-card__image {
        height: 492px;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 20px 20px 0 0;
        }
      }

      .ta-card__content {
        border: 3px solid;
        border-radius: 0 0 20px 20px;
        border-top: none;
        background-color: white;

        .ta-card__title {
          padding: 20px 0 !important;
          margin: 0;
          color: black;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          font-weight: 700;
          position: relative;

          &::before {
            content: "";
            width: 20px;
            height: 25px;
            margin-right: 10px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            flex-shrink: 0;
            display: inline-block;
          }
        }
      }
    }

    /* Card 1 */
    .ta-card--1 .ta-card__content {
      border-color: #b50d43;

      .ta-card__title::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38.028' height='47.442' viewBox='0 0 38.028 47.442'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect width='38.028' height='47.442' fill='%23b50d43'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip-path)'%3E%3Cpath d='M20.108,63.271c-.423,0-.856-.011-1.3-.033C6.781,62.631.646,55.25.576,41.3a77.349,77.349,0,0,0-.549-10.7,2.066,2.066,0,0,1,2.559-2.323c10.087,2.62,12.507,8.1,14.847,13.4.508,1.149,1.032,2.338,1.632,3.475,2.9,5.493,7.387,5.273,7.577,5.263l.1,0a6.436,6.436,0,0,0,4.879-1.964c3.169-3.416,2.759-10.506,2.605-13.175-.022-.387-.04-.7-.046-.928-.024-.965-.031-1.734-.022-2.357A14.771,14.771,0,0,0,23.614,44.26,1.825,1.825,0,0,1,19.973,44c.009-.132,1.088-13.185,15.778-16.215a1.869,1.869,0,0,1,1.718.522,2.545,2.545,0,0,1,.425,2.456,20.511,20.511,0,0,0-.061,3.481c0,.2.021.47.041.807.654,11.311-2.417,14.622-3.573,15.868a10.019,10.019,0,0,1-7.451,3.131c-.823.045-7.141.139-11.014-7.2-.659-1.249-1.21-2.5-1.743-3.7C12.131,38.7,10.41,34.8,3.909,32.487c.15,1.822.3,4.637.317,8.792.061,11.989,4.752,17.808,14.766,18.313,8.531.429,12.253-4.145,12.407-4.34a1.825,1.825,0,0,1,2.887,2.234c-.189.246-4.558,5.784-14.178,5.785' transform='translate(0 -15.829)' fill='%23b50d43'/%3E%3Cpath d='M38.6,14.189a1.825,1.825,0,0,1-1.825-1.825v-3.2L30.323,4.141,23.876,9.168v3.2a1.825,1.825,0,1,1-3.65,0V8.277a1.827,1.827,0,0,1,.7-1.44L29.2.386a1.825,1.825,0,0,1,2.245,0l8.273,6.451a1.827,1.827,0,0,1,.7,1.44v4.087A1.825,1.825,0,0,1,38.6,14.189' transform='translate(-11.54 0)' fill='%23b50d43'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    .ta-card--2 .ta-card__content {
      border-color: #ed8895;

      .ta-card__title::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38.028' height='47.442' viewBox='0 0 38.028 47.442'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect width='38.028' height='47.442' fill='%23ed8895'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip-path)'%3E%3Cpath d='M20.108,63.271c-.423,0-.856-.011-1.3-.033C6.781,62.631.646,55.25.576,41.3a77.349,77.349,0,0,0-.549-10.7,2.066,2.066,0,0,1,2.559-2.323c10.087,2.62,12.507,8.1,14.847,13.4.508,1.149,1.032,2.338,1.632,3.475,2.9,5.493,7.387,5.273,7.577,5.263l.1,0a6.436,6.436,0,0,0,4.879-1.964c3.169-3.416,2.759-10.506,2.605-13.175-.022-.387-.04-.7-.046-.928-.024-.965-.031-1.734-.022-2.357A14.771,14.771,0,0,0,23.614,44.26,1.825,1.825,0,0,1,19.973,44c.009-.132,1.088-13.185,15.778-16.215a1.869,1.869,0,0,1,1.718.522,2.545,2.545,0,0,1,.425,2.456,20.511,20.511,0,0,0-.061,3.481c0,.2.021.47.041.807.654,11.311-2.417,14.622-3.573,15.868a10.019,10.019,0,0,1-7.451,3.131c-.823.045-7.141.139-11.014-7.2-.659-1.249-1.21-2.5-1.743-3.7C12.131,38.7,10.41,34.8,3.909,32.487c.15,1.822.3,4.637.317,8.792.061,11.989,4.752,17.808,14.766,18.313,8.531.429,12.253-4.145,12.407-4.34a1.825,1.825,0,0,1,2.887,2.234c-.189.246-4.558,5.784-14.178,5.785' transform='translate(0 -15.829)' fill='%23ed8895'/%3E%3Cpath d='M38.6,14.189a1.825,1.825,0,0,1-1.825-1.825v-3.2L30.323,4.141,23.876,9.168v3.2a1.825,1.825,0,1,1-3.65,0V8.277a1.827,1.827,0,0,1,.7-1.44L29.2.386a1.825,1.825,0,0,1,2.245,0l8.273,6.451a1.827,1.827,0,0,1,.7,1.44v4.087A1.825,1.825,0,0,1,38.6,14.189' transform='translate(-11.54 0)' fill='%23ed8895'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    .ta-card--3 .ta-card__content {
      border-color: #ffaa86;

      .ta-card__title::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38.028' height='47.442' viewBox='0 0 38.028 47.442'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect width='38.028' height='47.442' fill='%23ffaa86'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip-path)'%3E%3Cpath d='M20.108,63.271c-.423,0-.856-.011-1.3-.033C6.781,62.631.646,55.25.576,41.3a77.349,77.349,0,0,0-.549-10.7,2.066,2.066,0,0,1,2.559-2.323c10.087,2.62,12.507,8.1,14.847,13.4.508,1.149,1.032,2.338,1.632,3.475,2.9,5.493,7.387,5.273,7.577,5.263l.1,0a6.436,6.436,0,0,0,4.879-1.964c3.169-3.416,2.759-10.506,2.605-13.175-.022-.387-.04-.7-.046-.928-.024-.965-.031-1.734-.022-2.357A14.771,14.771,0,0,0,23.614,44.26,1.825,1.825,0,0,1,19.973,44c.009-.132,1.088-13.185,15.778-16.215a1.869,1.869,0,0,1,1.718.522,2.545,2.545,0,0,1,.425,2.456,20.511,20.511,0,0,0-.061,3.481c0,.2.021.47.041.807.654,11.311-2.417,14.622-3.573,15.868a10.019,10.019,0,0,1-7.451,3.131c-.823.045-7.141.139-11.014-7.2-.659-1.249-1.21-2.5-1.743-3.7C12.131,38.7,10.41,34.8,3.909,32.487c.15,1.822.3,4.637.317,8.792.061,11.989,4.752,17.808,14.766,18.313,8.531.429,12.253-4.145,12.407-4.34a1.825,1.825,0,0,1,2.887,2.234c-.189.246-4.558,5.784-14.178,5.785' transform='translate(0 -15.829)' fill='%23ffaa86'/%3E%3Cpath d='M38.6,14.189a1.825,1.825,0,0,1-1.825-1.825v-3.2L30.323,4.141,23.876,9.168v3.2a1.825,1.825,0,1,1-3.65,0V8.277a1.827,1.827,0,0,1,.7-1.44L29.2.386a1.825,1.825,0,0,1,2.245,0l8.273,6.451a1.827,1.827,0,0,1,.7,1.44v4.087A1.825,1.825,0,0,1,38.6,14.189' transform='translate(-11.54 0)' fill='%23ffaa86'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    .ta-card--4 .ta-card__content {
      border-color: #9cac77;

      .ta-card__title::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38.028' height='47.442' viewBox='0 0 38.028 47.442'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect width='38.028' height='47.442' fill='%239cac77'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip-path)'%3E%3Cpath d='M20.108,63.271c-.423,0-.856-.011-1.3-.033C6.781,62.631.646,55.25.576,41.3a77.349,77.349,0,0,0-.549-10.7,2.066,2.066,0,0,1,2.559-2.323c10.087,2.62,12.507,8.1,14.847,13.4.508,1.149,1.032,2.338,1.632,3.475,2.9,5.493,7.387,5.273,7.577,5.263l.1,0a6.436,6.436,0,0,0,4.879-1.964c3.169-3.416,2.759-10.506,2.605-13.175-.022-.387-.04-.7-.046-.928-.024-.965-.031-1.734-.022-2.357A14.771,14.771,0,0,0,23.614,44.26,1.825,1.825,0,0,1,19.973,44c.009-.132,1.088-13.185,15.778-16.215a1.869,1.869,0,0,1,1.718.522,2.545,2.545,0,0,1,.425,2.456,20.511,20.511,0,0,0-.061,3.481c0,.2.021.47.041.807.654,11.311-2.417,14.622-3.573,15.868a10.019,10.019,0,0,1-7.451,3.131c-.823.045-7.141.139-11.014-7.2-.659-1.249-1.21-2.5-1.743-3.7C12.131,38.7,10.41,34.8,3.909,32.487c.15,1.822.3,4.637.317,8.792.061,11.989,4.752,17.808,14.766,18.313,8.531.429,12.253-4.145,12.407-4.34a1.825,1.825,0,0,1,2.887,2.234c-.189.246-4.558,5.784-14.178,5.785' transform='translate(0 -15.829)' fill='%239cac77'/%3E%3Cpath d='M38.6,14.189a1.825,1.825,0,0,1-1.825-1.825v-3.2L30.323,4.141,23.876,9.168v3.2a1.825,1.825,0,1,1-3.65,0V8.277a1.827,1.827,0,0,1,.7-1.44L29.2.386a1.825,1.825,0,0,1,2.245,0l8.273,6.451a1.827,1.827,0,0,1,.7,1.44v4.087A1.825,1.825,0,0,1,38.6,14.189' transform='translate(-11.54 0)' fill='%239cac77'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    /* Optional: stagger padding or styling */
    .active:nth-child(even) {
      padding-top: 50px;
    }
  }
}

.ta-cards:after {
  content: " ";
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: $color5;
  z-index: -1;
}
