.text_with_slider {
  padding: 70px 0px;
  overflow: hidden;
  &__image-container {
    height: 100%;
    @media screen and (max-width: 768px) {
      padding: 0px 20px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 768px) {
      padding: 0px 20px;
    }
    h2 {
      color: #363b44;
      display: flex;
      align-items: center;
      font-weight: 600;
      &::before {
        content: url("data:image/svg+xml,%3Csvg id='Group_66' data-name='Group 66' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='60' height='60' viewBox='0 0 82.792 92.954'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='0.932' y1='0.758' x2='0.586' y2='0.481' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23fdc99b'/%3E%3Cstop offset='1' stop-color='%23f58220'/%3E%3C/linearGradient%3E%3ClinearGradient id='linear-gradient-2' x1='0.081' y1='0.775' x2='0.736' y2='0.226' xlink:href='%23linear-gradient'/%3E%3C/defs%3E%3Cpath id='Path_100' data-name='Path 100' d='M124.692,64.894a22.54,22.54,0,0,0-2.595-2.326c.323-.282.645-.578.941-.887a15.212,15.212,0,0,0,4.141-8.04,17.914,17.914,0,0,0,.269-2.81,15.3,15.3,0,0,0-2.689-8.726,16.524,16.524,0,0,0-3.4-3.576,16.261,16.261,0,0,0-4.37-2.393,15.493,15.493,0,0,0-16.874,4.545,19.45,19.45,0,0,0-1.587,2.165,17.678,17.678,0,0,0-1.183,2.5,15.018,15.018,0,0,0-.982,4.545,15.43,15.43,0,0,0,2.165,8.928c.309.511.645.995,1.008,1.479-3.415,1.6-6.091,4.424-8.807,6.978q-5.022,4.7-10.03,9.4L73.089,83.8c-.134.121-.269.242-.4.376a4.163,4.163,0,0,0,0,5.849,4.214,4.214,0,0,0,5.849,0l7.57-7.086q5.808-5.445,11.63-10.891C98.81,71.038,99.858,70,101,69.062a16.8,16.8,0,0,1,2.77-1.627,18.6,18.6,0,0,1,3.388-.928,17.663,17.663,0,0,1,3.576,0,18.734,18.734,0,0,1,3.4.928,18.241,18.241,0,0,1,2.971,1.734,20.334,20.334,0,0,1,2.635,2.635,19.1,19.1,0,0,1,1.963,3.361,20.826,20.826,0,0,1,1.1,4.007,19.632,19.632,0,0,1,0,4.168,20.527,20.527,0,0,1-1.062,3.886,19.3,19.3,0,0,1-1.95,3.334c-.269.3-.551.551-.847.834-.766.713-1.533,1.439-2.3,2.151-2.582,2.407-5.15,4.827-7.731,7.234q-4.74,4.437-9.479,8.887c-2.729,2.568-5.472,5.123-8.2,7.691-.39.363-.78.726-1.183,1.089-2.313-2.124-4.639-4.249-6.951-6.36q-4.255-3.892-8.5-7.771c-2.434-2.232-4.881-4.464-7.314-6.7-1.2-1.089-2.38-2.192-3.576-3.281-.013-.013-.04-.027-.054-.04a4.332,4.332,0,0,0-2.931-1.21A4.271,4.271,0,0,0,57.8,94.3a4.153,4.153,0,0,0-1.21,2.931,4.246,4.246,0,0,0,1.21,2.931c.982.887,1.95,1.788,2.931,2.676,2.326,2.138,4.666,4.262,6.992,6.4q4.255,3.892,8.5,7.771c2.434,2.232,4.881,4.464,7.314,6.7,1.2,1.089,2.38,2.192,3.576,3.281.013.013.04.027.054.04a4.227,4.227,0,0,0,5.849,0c1.345-1.25,2.676-2.5,4.02-3.765q4.659-4.376,9.331-8.74,5.224-4.881,10.434-9.775,3.731-3.489,7.462-6.992c.43-.4.887-.793,1.291-1.21a14.627,14.627,0,0,0,1.425-1.842,18.6,18.6,0,0,0,1.345-2.151,23.7,23.7,0,0,0-3.644-27.644ZM107.428,45.048a12.119,12.119,0,0,1,1.613-.955,12.631,12.631,0,0,1,1.855-.511,12.125,12.125,0,0,1,1.976,0,12.631,12.631,0,0,1,1.855.511,10.829,10.829,0,0,1,1.613.955,12.192,12.192,0,0,1,1.318,1.318,12.12,12.12,0,0,1,.955,1.613,12.8,12.8,0,0,1,.511,1.869c.027.323.04.645.054.982s-.027.659-.054.982a12.8,12.8,0,0,1-.511,1.869,10.829,10.829,0,0,1-.955,1.613,12.193,12.193,0,0,1-1.318,1.318,12.118,12.118,0,0,1-1.613.955,12.632,12.632,0,0,1-1.855.511,12.125,12.125,0,0,1-1.976,0,12.632,12.632,0,0,1-1.855-.511,10.829,10.829,0,0,1-1.613-.955,12.193,12.193,0,0,1-1.318-1.318,12.119,12.119,0,0,1-.955-1.613,12.63,12.63,0,0,1-.511-1.855,12.127,12.127,0,0,1,0-1.976,12.631,12.631,0,0,1,.511-1.855,10.83,10.83,0,0,1,.955-1.613,12.192,12.192,0,0,1,1.318-1.318Z' transform='translate(-48.374 -35.246)' fill='url(%23linear-gradient)'/%3E%3Cpath id='Path_101' data-name='Path 101' d='M107.731,75.56a4.2,4.2,0,0,0-5.849,0c-2.017,2.017-4.02,4.034-6.037,6.05q-4.437,4.457-8.874,8.9c-.995.995-1.976,2-3.052,2.9a19.987,19.987,0,0,1-3.442,2,20.028,20.028,0,0,1-4.047,1.1,20.014,20.014,0,0,1-4.208,0,21.345,21.345,0,0,1-4.061-1.1,20.508,20.508,0,0,1-3.442-2,20.85,20.85,0,0,1-2.837-2.824,20.154,20.154,0,0,1-1.976-3.375,20.257,20.257,0,0,1-1.062-3.886,19.632,19.632,0,0,1,0-4.168,19.659,19.659,0,0,1,1.1-4.007,19.966,19.966,0,0,1,1.963-3.361,20.23,20.23,0,0,1,2.622-2.635,18,18,0,0,1,2.945-1.734,18,18,0,0,1,3.429-.941,17.531,17.531,0,0,1,3.563,0,18.6,18.6,0,0,1,3.388.928,17.613,17.613,0,0,1,3.173,1.882c1.748,1.358,3.469,2.756,5.19,4.128l6.064-5.687c-1.909-1.519-3.805-3.039-5.714-4.545a24.1,24.1,0,0,0-3.2-2.259c-.161-.094-.323-.161-.471-.255a14.821,14.821,0,0,0,3.254-7.045,17.914,17.914,0,0,0,.269-2.81,15.3,15.3,0,0,0-2.689-8.726,16.524,16.524,0,0,0-3.4-3.576,16.261,16.261,0,0,0-4.37-2.393,15.493,15.493,0,0,0-16.874,4.545A19.448,19.448,0,0,0,57.5,42.833a17.679,17.679,0,0,0-1.183,2.5,15.018,15.018,0,0,0-.982,4.545A15.43,15.43,0,0,0,57.5,58.807a16.191,16.191,0,0,0,2.676,3.334,24.02,24.02,0,0,0-5.929,6.185,22.86,22.86,0,0,0-3.213,7.624,25.493,25.493,0,0,0-.255,9.2,22.878,22.878,0,0,0,8.161,14.212,25.445,25.445,0,0,0,7.946,4.4,23.333,23.333,0,0,0,7.987,1.156,24.393,24.393,0,0,0,15.771-6.44c1.439-1.331,2.783-2.77,4.155-4.155,2.447-2.461,4.908-4.921,7.355-7.382,1.748-1.748,3.5-3.509,5.244-5.257l.269-.269a4.176,4.176,0,0,0,0-5.849ZM63.657,49.838a12.632,12.632,0,0,1,.511-1.855,10.829,10.829,0,0,1,.955-1.613,12.193,12.193,0,0,1,1.318-1.318,12.118,12.118,0,0,1,1.613-.955,12.632,12.632,0,0,1,1.855-.511,12.126,12.126,0,0,1,1.976,0,12.632,12.632,0,0,1,1.855.511,10.829,10.829,0,0,1,1.613.955,12.194,12.194,0,0,1,1.318,1.318,12.118,12.118,0,0,1,.955,1.613,12.8,12.8,0,0,1,.511,1.869c.027.323.04.645.054.982s-.027.659-.054.982a12.8,12.8,0,0,1-.511,1.869,10.829,10.829,0,0,1-.955,1.613,12.192,12.192,0,0,1-1.318,1.318,12.118,12.118,0,0,1-1.613.955,12.632,12.632,0,0,1-1.855.511,12.125,12.125,0,0,1-1.976,0,12.632,12.632,0,0,1-1.855-.511,10.829,10.829,0,0,1-1.613-.955A12.192,12.192,0,0,1,65.123,55.3a12.119,12.119,0,0,1-.955-1.613,12.632,12.632,0,0,1-.511-1.855,12.127,12.127,0,0,1,0-1.976Z' transform='translate(-50.479 -35.25)' fill='url(%23linear-gradient-2)'/%3E%3C/svg%3E");
      }
    }
    ul {
      list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10' height='10' viewBox='0 0 16 16'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='0.5' x2='0.5' y2='1' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23f58220'/%3E%3Cstop offset='1' stop-color='%23fdc99b'/%3E%3C/linearGradient%3E%3C/defs%3E%3Ccircle id='Ellipse_5' data-name='Ellipse 5' cx='8' cy='8' r='8' fill='url(%23linear-gradient)'/%3E%3C/svg%3E");
    }
  }
  .text_with_slider__image-container {
    img {
      border-radius: 25px 0px 0px 25px;
      @media screen and (max-width: 1024px) {
        border-radius: 25px;
      }
    }
  }
  .carousel-item {
    position: relative;
  }
  .owl-prev {
    position: absolute;
    bottom: 10%;
    right: 25%;
  }
  .owl-next {
    position: absolute;
    bottom: 10%;
    right: 18%;

    @media screen and (max-width: 1024px) {
      right: 15%;
    }
    @media screen and (max-width: 576px) {
      right: 8%;
    }
  }
}
