.text_with_image {
  padding: 0px 0px;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 422px; /* Scaled down from 422.351px */
    height: 526px; /* Scaled down from 526.896px */
    margin-right: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='422.351' height='526.896' viewBox='0 0 422.351 526.896'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_199' data-name='Rectangle 199' width='422.351' height='526.896' fill='%23ed8895'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_121' data-name='Group 121' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_175' data-name='Path 175' d='M223.322,422.311c-4.7,0-9.506-.119-14.438-.367C75.3,415.209,7.171,333.223,6.389,178.263,6,101.038,1.624,67.755.289,59.394a22.944,22.944,0,0,1,28.422-25.8c112.034,29.1,138.9,89.941,164.891,148.779,5.638,12.764,11.466,25.961,18.129,38.591,32.176,61,82.042,58.562,84.155,58.447.31-.019.839-.048,1.149-.052,23.219-.405,40.947-7.541,54.183-21.812,35.2-37.942,30.645-116.684,28.933-146.328-.248-4.3-.444-7.794-.506-10.312-.262-10.717-.348-19.26-.243-26.181-107.932,35.4-116.8,132.052-117.147,136.445a20.271,20.271,0,0,1-40.437-2.9c.1-1.464,12.081-146.437,175.236-180.082a20.762,20.762,0,0,1,19.083,5.8c8.838,9.005,6.053,21.344,4.717,27.273-.668,2.957-1.331,12.072-.682,38.663.052,2.185.234,5.223.453,8.962,7.259,125.627-26.844,162.392-39.683,176.233-20.757,22.379-48.6,34.074-82.748,34.771-9.139.5-79.3,1.541-122.322-80.006-7.321-13.875-13.441-27.731-19.355-41.129-21.8-49.351-40.909-92.621-113.112-118.33,1.669,20.238,3.291,51.5,3.525,97.644C47.6,311.216,99.712,375.845,210.925,381.454c94.749,4.77,136.082-46.037,137.8-48.2a20.271,20.271,0,0,1,32.061,24.812c-2.1,2.733-50.625,64.242-157.465,64.247' transform='translate(0.002 104.586)' fill='%23ed8895'/%3E%3Cpath id='Path_176' data-name='Path 176' d='M224.247,157.582a20.272,20.272,0,0,1-20.271-20.271V101.82L132.37,45.982l-71.6,55.838v35.491a20.271,20.271,0,1,1-40.542,0V91.923a20.286,20.286,0,0,1,7.8-15.988L119.907,4.286a20.272,20.272,0,0,1,24.931,0l91.877,71.649a20.286,20.286,0,0,1,7.8,15.988v45.388a20.272,20.272,0,0,1-20.271,20.271' transform='translate(76.245 0.002)' fill='%23ed8895'/%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: 0%;
    bottom: 0%;
    z-index: 1;
    opacity: 0.3;
    @media screen and (max-width: 768px) {
      display: none;
    }
    @media screen and (max-width: 1024px) {
      width: 200px; /* Scaled down from 422.351px */
      height: 250px; /* Scaled down from 526.896px */
    }
    @media screen and (max-width: 1440px) {
      width: 300px; /* Scaled down from 422.351px */
      height: 350px; /* Scaled down from 526.896px */
    }
  }

  // When layout is reversed, position the ::before element on the right
  .reverse &::before {
    left: auto !important;
    right: 0% !important;
  }
  &__image-container {
    height: 100%;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media screen and (max-width: 1024px) {
        height: 100%;
      }
      @media screen and (max-width: 768px) {
        height: 100%;
      }
    }
  }
  &__text-container-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    position: relative;
    z-index: 2;
  }
  &__text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    @media screen and (max-width: 768px) {
      padding: 0px 20px;
    }
    h2 {
      color: black;
      display: flex;
      align-items: center;
    }
    p {
      color: black;
    }
    .text_with_image__button-container {
      a {
        color: white;
        background-color: $color1;
        border-radius: 20px;
        border: 1px solid white;
        margin-bottom: 15px;
        &:hover {
          color: $color1;
          background-color: white;
          border: 1px solid $color1;
        }
      }
    }
  }
}
