.text_block {
  padding: 50px 0px;
  position: relative;
  z-index: 2;

  .row {
    justify-content: center;

    .text_block__content-container {
      display: flex;

      flex-direction: column;
      align-items: center;
      h1 {
        width: 100%;
        @media screen and (max-width: 576px) {
          text-align: left !important;
        }
      }
      p {
        max-width: 850px;
        font-weight: 700;
      }

      @media screen and (max-width: 576px) {
        p {
          text-align: left !important;
        }
      }
    }
  }
}
.tblg {
  background-color: #ecf4cb !important;
  .text_block__content-container {
    h1 {
      width: 100%;
      @media screen and (max-width: 576px) {
        text-align: left !important;
      }
    }

    p {
      @media screen and (max-width: 576px) {
        text-align: left !important;
      }
    }
  }
}
.tbwh {
  background-color: white !important;

  .text_block__content-container {
    h1 {
      width: 100%;
      @media screen and (max-width: 576px) {
        text-align: left !important;
      }
    }

    p {
      @media screen and (max-width: 576px) {
        text-align: left !important;
      }
    }
  }
}
.tbdr {
  background-color: $color1;

  .text_block__content-container {
    h1 {
      color: white !important;
      width: 100%;

      @media screen and (max-width: 576px) {
        text-align: left !important;
      }
    }

    p {
      color: white !important;

      @media screen and (max-width: 576px) {
        text-align: left !important;
      }
    }
  }
}
